# --- Configs OpenAI ---
# Obtenha sua chave de API em: https://platform.openai.com/api-keys
OPENAI_API_KEY=
OPENAI_MODEL_NAME="gpt-4o"
OPENAI_MODEL_TEMPERATURE=0.7

# --- Prompts do Sistema de IA ---
# Estes são os prompts padrão, altere se precisar customizar o comportamento do assistente.
AI_CONTEXTUALIZE_PROMPT='Dado um histórico de conversa e a pergunta mais recente do usuário, que pode fazer referência ao contexto anterior, formule uma pergunta independente, que possa ser compreendida sem o histórico da conversa. NÃO responda à pergunta — apenas reformule se necessário; caso contrário, retorne a pergunta como está.'
AI_SYSTEM_PROMPT='Você é um assistente virtual que irá responder dúvidas dos clientes. Use os seguintes trechos de contexto recuperado para responder à pergunta. Se você não souber a resposta, diga que não sabe. Use no máximo três frases e mantenha a resposta concisa. {context}'

# --- Banco de Dados PostgreSQL ---
# Credenciais para o seu banco de dados local ou de produção.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=evolution
DATABASE_CONNECTION_URL=
DATABASE_ENABLE=true
DATABASE_PROVIDER=postgresql

# --- Redis ---
# Configurações do cache com Redis.
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://localhost:6379/6
CACHE_REDIS_PREFIX_KEY=evolution

# --- Configs Evolution API ---
# Credenciais para a sua instância da Evolution API.
AUTHENTICATION_API_KEY=
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_INSTANCE_NAME=

# --- Caminhos locais ---
# Diretórios para armazenamento de vetores e arquivos de conhecimento.
VECTOR_STORE_PATH=vectorstore
RAG_FILES_DIR=ragfiles

# --- Config Evolution Api (Opcional) ---
# Descomente e ajuste se precisar fixar uma versão específica do WhatsApp Web.
# CONFIG_SESSION_PHONE_VERSION=